Repository sahinkutlu/frontend-case: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix

.lintstagedrc:

{
  "*.{js,jsx,ts,tsx}": ["prettier --check --write", "eslint --fix"],
  "*.css": ["prettier --check --write"],
  "*.json": ["prettier --check --write"]
}

feat: env var for rick and morty api url
  .env.development
  .env.production
  src/config/url.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: added mit license
  LICENSE
Due: none

feat: delete selected item with delete and backspace updated readme.md
  LICENSE.txt
  README.md
  src/components/multi-select/useMultiSelect.ts
Due: prettier --check --write, eslint --fix

feat: readme updated
  README.md
  package.json
  public/rick-and-morty-ss.png
Due: prettier --check --write

fix: SS link updated
  README.md
Due: none

fix: popover width and transparent bg
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

feat: added placeholder and label
  package-lock.json
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat:popover optimization with placement and height
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
Due: prettier --check --write, eslint --fix

feat: more readable dynamic classes
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: useMultiSelectClasses for readabilty
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelectClasses.ts
Due: prettier --check --write, eslint --fix

feat: created to do list for multiselect and updated read me
  README.md
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

feat: desing improved with bottom image and added dynamic class for searh input
  public/rick-and-morty-portal.png
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelectClasses.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: added check icon to selected list items
  src/contents/rick-and-morty-select/RickAndMortyListItem.tsx
Due: prettier --check --write, eslint --fix

fix: overlow on popover with min input width
  src/components/multi-select/useMultiSelectClasses.ts
Due: prettier --check --write, eslint --fix

feat: rick and morty card and green tones
  src/App.tsx
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

fix: dont allow scale on mobile on input foucs
  index.html
Due: none

feat: search input for small devices
  README.md
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/useMultiSelectClasses.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

chore: secondary text input style
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

chore: cursor pointer style to list item
  src/components/multi-select/useMultiSelectClasses.ts
Due: prettier --check --write, eslint --fix

chore: cursor pointer for custom list item
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: select mode switch
  README.md
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelect.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
  src/contents/rick-and-morty-select/SelectMode.tsx
  src/contents/rick-and-morty-select/index.ts
Due: prettier --check --write, eslint --fix

chore: changed product image
  README.md
  public/rick-and-morty-ss.png
  public/rick-and-morty.gif
Due: none

update
  package.json
  src/App.tsx
  src/CheckboxPair.tsx
  src/SearchInput.tsx
  src/api/api.ts
  src/components/App.tsx
  src/components/CharacterBadge.tsx
  src/components/CharacterOption.tsx
  src/components/SearchInput.tsx
  src/components/Spinner.tsx
  src/helpers/string.ts
  src/main.tsx
  src/types/api.ts
  src/types/app.ts
  tailwind.config.js
  yarn.lock
Due: prettier --check --write, eslint --fix

Create React App
  adcreative-multiselect-case/.gitignore
  adcreative-multiselect-case/README.md
  adcreative-multiselect-case/package-lock.json
  adcreative-multiselect-case/package.json
  adcreative-multiselect-case/public/favicon.ico
  adcreative-multiselect-case/public/index.html
  adcreative-multiselect-case/public/logo192.png
  adcreative-multiselect-case/public/logo512.png
  adcreative-multiselect-case/public/manifest.json
  adcreative-multiselect-case/public/robots.txt
  adcreative-multiselect-case/src/App.css
  adcreative-multiselect-case/src/App.test.tsx
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/index.css
  adcreative-multiselect-case/src/index.tsx
  adcreative-multiselect-case/src/logo.svg
  adcreative-multiselect-case/src/react-app-env.d.ts
  adcreative-multiselect-case/src/reportWebVitals.ts
  adcreative-multiselect-case/src/setupTests.ts
  adcreative-multiselect-case/tsconfig.json
Due: prettier --check --write, eslint --fix

Add multi select design
  adcreative-multiselect-case/package-lock.json
  adcreative-multiselect-case/package.json
  adcreative-multiselect-case/src/App.css
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.module.scss
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenu.component.tsx
  adcreative-multiselect-case/src/index.css
Due: prettier --check --write, eslint --fix

Add all characters api call and selection
  adcreative-multiselect-case/.env
  adcreative-multiselect-case/src/App.css
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.container.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.context.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.module.scss
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.types.ts
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenu.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenuLoading.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectSelectedCells.components.tsx
  adcreative-multiselect-case/src/hooks/useFetch.ts
  adcreative-multiselect-case/src/index.css
  adcreative-multiselect-case/src/types/general.ts
Due: prettier --check --write, eslint --fix

Add character filtering
  adcreative-multiselect-case/package-lock.json
  adcreative-multiselect-case/package.json
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.context.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.types.ts
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenu.component.tsx
  adcreative-multiselect-case/src/hooks/useFetch.ts
  adcreative-multiselect-case/src/types/general.ts
Due: prettier --check --write, eslint --fix

Add error handling
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.module.scss
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenu.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenuLoading.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenuLoadingError.component.tsx
  adcreative-multiselect-case/src/hooks/useFetch.ts
Due: prettier --check --write, eslint --fix

Update README.md
  README.md
Due: none

Add deployment link
  README.md
Due: none

Remove unnecessary inline comment
  adcreative-multiselect-case/src/components/multiSelect/MultiSelectMenu.component.tsx
Due: prettier --check --write, eslint --fix

Fix context state management
  adcreative-multiselect-case/src/App.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.component.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.container.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.context.tsx
  adcreative-multiselect-case/src/components/multiSelect/MultiSelect.types.ts
Due: prettier --check --write, eslint --fix
