Repository sahinkutlu/frontend-case: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check --write, eslint --fix

Add linters and create new react app
  .babelrc
  .eslintrc.json
  .github/workflows/linters.yml
  .gitignore
  .stylelintrc.json
  README.md
  package-lock.json
  package.json
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  public/manifest.json
  public/robots.txt
  src/App.css
  src/App.js
  src/App.test.js
  src/index.css
  src/index.js
  src/logo.svg
  src/reportWebVitals.js
  src/setupTests.js
Due: prettier --check --write, eslint --fix

chore:initial commit
  .DS_Store
  .eslintrc.cjs
  .gitignore
  README.md
  assets/multi-select.png
  index.html
  package.json
  public/vite.svg
  src/App.css
  src/App.tsx
  src/assets/react.svg
  src/index.css
  src/main.tsx
  src/vite-env.d.ts
  tsconfig.json
  tsconfig.node.json
  vite.config.ts
Due: prettier --check --write, eslint --fix

feat: added tailwindcss
  package-lock.json
  package.json
  postcss.config.js
  src/App.css
  src/App.tsx
  src/index.css
  tailwind.config.js
Due: prettier --check --write, eslint --fix

feat:prettier plugin an rules
  .prettierignore
  .prettierrc.cjs
  package-lock.json
  package.json
  src/App.tsx
Due: prettier --check --write, eslint --fix

feat: lint staged with husky
  .eslintignore
  .husky/pre-commit
  .prettierignore
  lint-staged.config.cjs
  package-lock.json
  package.json
  postcss.config.js
Due: prettier --check --write, eslint --fix

chore:test commit for husky
  src/App.tsx
Due: prettier --check --write, eslint --fix

feat: added absolute path
  package-lock.json
  package.json
  src/App.tsx
  src/components/multi-select/index.tsx
  tsconfig.json
  vite.config.ts
Due: prettier --check --write, eslint --fix

feat: created multi select component
  .prettierrc.cjs
  src/App.tsx
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/index.tsx
Due: prettier --check --write, eslint --fix

feat:created async search box with react-stately and react-aria
  package-lock.json
  package.json
  src/App.tsx
  src/components/multi-select/ListBox.tsx
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/Option.tsx
  src/components/multi-select/Popover.tsx
  src/components/multi-select/index.tsx
Due: prettier --check --write, eslint --fix

feat: created rick and morty select container with props
  src/App.tsx
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
  src/contents/rick-and-morty-select/RickAndMortySelectProps.ts
  src/contents/rick-and-morty-select/index.ts
Due: prettier --check --write, eslint --fix

feat: better input style
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

feat: better popover style
  src/components/multi-select/Popover.tsx
Due: prettier --check --write, eslint --fix

fix: same key on item
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

Add the dependencies
  package-lock.json
  package.json
Due: prettier --check --write

Add character search and display functionality
  src/components/Characters.js
Due: prettier --check --write, eslint --fix

Add character details based on their ID
  src/components/CharacterDetails.js
Due: prettier --check --write, eslint --fix

Update App.js to render Characters component
  src/App.js
Due: prettier --check --write, eslint --fix

Update
  src/App.js
Due: prettier --check --write, eslint --fix

Fix linters
  src/App.css
  src/index.css
Due: prettier --check --write

Add basic styling
  src/components/styles.css
Due: prettier --check --write

Update Characters.js
  src/components/Characters.js
Due: prettier --check --write, eslint --fix

Add class to the select button for styling
  src/components/CharacterDetails.js
Due: prettier --check --write, eslint --fix

Update styling
  src/components/styles.css
Due: prettier --check --write

Fix stylelint errors
  src/components/styles.css
Due: prettier --check --write

Final touches
  src/components/styles.css
Due: prettier --check --write

Add README file and logo
  README.md
  public/myLogo.png
Due: none

Add LICENSE
  LICENSE
Due: none

Add live demo link
  README.md
Due: none

Change the title of the app
  public/index.html
Due: none

feat: new year edition - combobox does not support multiselect. For this reason created custom text field.
  package-lock.json
  package.json
  src/archive/multi-select/ListBox.tsx
  src/archive/multi-select/MultiSelect.tsx
  src/archive/multi-select/MultiSelectProps.ts
  src/archive/multi-select/Option.tsx
  src/archive/multi-select/Popover.tsx
  src/archive/multi-select/index.tsx
  src/archive/terst.tsx
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelect.ts
  src/components/multi-select/useMultiSelectList.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
  tailwind.config.js
Due: prettier --check --write, eslint --fix

feat: customized list item removed debouncing on fetch function updated set filter text with debounce
  package-lock.json
  package.json
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelect.ts
  src/components/multi-select/useMultiSelectList.ts
  src/contents/rick-and-morty-select/RickAndMortyListItem.tsx
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: highlight filter text created: HighlightFilterText component fix: filterText value to search input value to make controlled
  package-lock.json
  package.json
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelect.ts
  src/components/text/HighlightFilterText.tsx
  src/contents/rick-and-morty-select/RickAndMortyListItem.tsx
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

fix: removing item on click disabled because of wrong selection in SelectBox component
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/useMultiSelect.ts
  src/components/text/HighlightFilterText.tsx
Due: prettier --check --write, eslint --fix

feat:on press down in input open and focus list box
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/useMultiSelect.ts
Due: prettier --check --write, eslint --fix

feat: char detail show in modal when click
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/useMultiSelect.ts
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
  src/contents/rick-and-morty-select/RickAndMortySelectedDialog.tsx
Due: prettier --check --write, eslint --fix

feat:gradient app bg color
  src/App.tsx
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

feat: show fetch error and hide list
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/useMultiSelect.ts
  src/components/multi-select/useMultiSelectList.ts
Due: prettier --check --write, eslint --fix

rick and morty text logo
  public/rickandmorty.png
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
Due: prettier --check --write, eslint --fix

feat: error boundary
  package-lock.json
  package.json
  src/components/multi-select/MultiSelect.tsx
Due: prettier --check --write, eslint --fix

chore: refactor code
  .prettierrc.cjs
  index.html
  src/archive/multi-select/ListBox.tsx
  src/archive/multi-select/MultiSelect.tsx
  src/archive/multi-select/MultiSelectProps.ts
  src/archive/multi-select/Option.tsx
  src/archive/multi-select/Popover.tsx
  src/archive/multi-select/index.tsx
  src/archive/terst.tsx
  src/components/multi-select/ListBox.tsx
  src/components/multi-select/MultiSelect.tsx
  src/components/multi-select/MultiSelectProps.ts
  src/components/multi-select/Option.tsx
  src/components/multi-select/Popover.tsx
  src/components/multi-select/index.tsx
  src/components/multi-select/useMultiSelect.ts
  src/components/multi-select/useMultiSelectList.ts
  src/config/duration.ts
  src/contents/rick-and-morty-select/RickAndMortyListItem.tsx
  src/contents/rick-and-morty-select/RickAndMortySelect.tsx
  src/contents/rick-and-morty-select/RickAndMortySelectedDialog.tsx
Due: prettier --check --write, eslint --fix

Path conditions:
  prettier --check --write: ((any of: *.{js,jsx,ts,tsx}) or (any of: *.css)) or (any of: *.json)
  eslint --fix: any of: *.{js,jsx,ts,tsx}
